* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 640px;
  margin: 0 auto;
}

.full-img{
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0);
}
button{
    background: rgba(150,150,150,0.6);
    border: 1px solid #999;
    padding: 5px;
    position: absolute;
    text-shadow: 1px  1px 1px #fff;
    cursor: pointer;
    top: 2px;
    left: 2px;
}

.thumb-bar img {
  display: block;
  float: left;
  width: 20%;
  cursor: pointer;
}
/*  
.lighten {
  background-color: rgba(0,0,0,0.5);
}  */