* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Helvetica, Arial;
}

body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

#calculadora {
  width: 400px;
  padding: 0.5em;
  background-color: #c4c4c4;
  color: #000;
  display: flex;
  flex-direction: column;
}

#calculadora h3 {
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}

#operation {
  text-align: right;
}

#previous-operation,
#current-operation {
  color: #777;
  padding: 0.2em;
  overflow-wrap: break-word; /* permite a quebra de uma palavra que ultraprasse o contêiner e seja quebrada em várias linhas. */
  min-height: 1.6em;
}

#current-operation {
  font-size: 3em;
  font-weight: 700;
  color: #000;
}

#buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 3px;
}

#buttons button{
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#buttons .numero{
    background-color: #f3f3f3;
}

#buttons .numero:hover{
    background-color: #bababa;
    border-color: #999;
}
#buttons #equal{
    background-color: #6eb6d7;
    grid-column: span 2;
}

#buttons #equal:hover{
    background-color: #2d8ebb;
}