* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  /* color: #333; */
  font-family: 'Courier New', Courier, monospace;
}

html,
body {
  height: auto;
  min-height: 100vh;
  /* background-color: #333; */
}

input:focus {
  outline: none;
}

#container-register {
  display: flex;
  max-width: 900px;
  min-height: 80vh;
  margin: 2rem auto;
  margin-top: 5vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#banner {
  background: url("https://cdn.psychologytoday.com/sites/default/files/styles/blog_entry_290x217/public/field_blog_entry_teaser_image/2020-04/compassion_friends_hugging_lower_res.jpg?itok=GITapf3M");
  background-size: cover;
  background-position: center;
  width: 50%;
}

#banner h1 {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  color: #fff;
  word-spacing: 50rem;  
}


#banner-layout {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

#forms-register {
  display: flex;
  flex-direction: column;
  background-color: #fdfdfd;
  padding: 2rem;
  width: 50%;
}

#forms-register h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

#forms-register p {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #aaa;
  font-size: 0.8rem;
}

.form-de-controle {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.form-de-controle label {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.form-de-controle input {
  border: none;
  border-bottom: 1px solid #aaa;
  padding: 0.6rem 0;
}

#generator-password {
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

#generator-password:hover {
  color: #0099ff;
}

#generated-senha {
   border: 2px solid #26415D;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.4rem;
  color: #333;
  text-align: center;
  margin-bottom: 1rem;
  display: none;
}

#generated-senha p {
  margin-bottom: 0.5rem;
}

input[type="submit"],
#option-generate button,
#copy-senha {
  background-color: #26415D;
  border: none;
  color: #fff;
  opacity: 0.8;
  border-radius: 2rem;
  padding: 1rem 1.4rem;
  max-width: 150px;
  cursor: pointer;
  transition: 0.4s;
  align-self: flex-end;
}

input[type="submit"]:hover{
    opacity: 1;
}

/* second */

#option-generate{
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
}

#option-generate .form-de-controle{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#option-generate label {
    font-size: .8rem;
}

#option-generate input[type="text"]{
    max-width: 30px;
    text-align: center;
    border: 1px solid #ccc;
}

#option-generate button{
    display: block;
    margin: 0 auto;
    background-color: #0C1D49;
}

#copy-senha{
    margin: 1rem auto;
    padding: .5rem 1rem;
}

.hide {
    display: none;
}